__pycache__/
*.py[cod]
*$py.class
*.so

config.json

cfst_windows_amd64/
cfst_windows_arm64/
cfst_linux_amd64/
cfst_linux_arm64/
cfst_darwin_amd64/
cfst_darwin_arm64/

*.csv
result*.csv

worker/.wrangler/
worker/node_modules/
worker/.env

.DS_Store
Thumbs.db
desktop.ini

.idea/
.vscode/
*.swp
*.swo
